html, body {
    height: 100%;
  }
    
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica Neue;
  }
  
  .container {
    width: 70%;
  }
  
  .note {
    color: gray;
    margin: 8px 0;
  }
  
  input.active:valid {
    box-shadow: 0 0 5px 1px green;
  }
  
  input.active:invalid {
    box-shadow: 0 0 5px 1px red;
  }

  form {
    font-size: 1.3em;
  }

  form button {
    width: 100%;
    text-transform: uppercase;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }